*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    background-color:#A5D6A4;
}

h1{
    background-color: #4dd0e1;
}

h1 + p{
    background-color: #c5cae9;
    margin: 20px 0px;
}

article{
    background-color: #f48fb1;
    
}

h2{
    background-color: #7986cb;
}

h2 + p{
    background-color: #ff8a65;
    margin: 20px 0px 0px 0px;
}

button{
    background-color: #304ffe;
    color:white;
}